<article class="listing">
  <img src="{{rental.image}}" alt="">
  <h3>{{rental.title}}</h3>
  <div class="detail contact">
    <span>Contact Info:</span> {{rental.contact}}
  </div>
  <div class="detail bedrooms">
    <span>Bedrooms:</span> {{rental.bedrooms}}
  </div>
  <div class="detail bathrooms">
    <span>Bathrooms:</span> {{rental.bathrooms}}
  </div>
  <div class="detail cost">
    <span>Cost per month:</span> {{rental.cost}}
  </div>
</article>
