<!-- <article class="listing">
  <img src="{{rental.image}}" alt="">
  <h3>{{rental.title}}</h3>
  <div class="detail owner">
    <span>Owner:</span> {{rental.owner}}
  </div>
  <div class="detail type">
    <span>Type:</span> {{rental.type}}
  </div>
  <div class="detail location">
    <span>Location:</span> {{rental.city}}
  </div>
  <div class="detail bedrooms">
    <span>Number of bedrooms:</span> {{rental.bedrooms}}
  </div>

  <div class="detail new">
    <span>New</span>
  </div>
</article> -->
<div class="jumbo">
  <button class="button" {{action 'saveToFavorites' rental}}>Save to Favorites</button>
<!-- {{rental-update-tile rental=rental update="update"}} -->
<article class="listing">
    <img src="{{rental.image}}" alt="">
  <div class="detail title">
    <span>Title:</span> {{rental.title}}
  </div>
  <div class="detail contact">
    <span>Contact:</span> {{rental.contact}}
  </div>
  <div class="detail address">
    <span>Address:</span> {{rental.address}}
  </div>
  <div class="detail city">
    <span>City:</span> {{rental.city}}
  </div>
  <div class="detail state">
    <span>State:</span> {{rental.state}}
  </div>
  <div class="detail zip">
    <span>Zip:</span> {{rental.zip}}
  </div>
  <div class="detail bedrooms">
    <span>Number of bedrooms:</span> {{rental.bedrooms}}
  </div>
  <div class="detail bathrooms">
    <span>Number of bathrooms:</span> {{rental.bathrooms}}
  </div>
  <div class="detail cost">
    <span>Cost per month:</span> {{rental.cost}}
  </div>

  <div class="detail description">
    <span>Description:</span> {{rental.description}}
  </div>
</article>
{{#each rental.reviews as |review|}}
<div class="alert alert-info" role="alert">
  <p><small>{{review.author}} says: {{review.content}}</small></p>
</div>
{{/each}}
</div>
